<div class="modal fade" id="modal-create-room" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Room作成</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="create-room-form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="入力必須．1~255文字以内">
                タイトル*<script>document.write(get_question_img());</script>
              </span>
            </label>
            <input type="text" class="form-control input-title" id="input-create-room-title" name="title" placeholder="タイトル" data-max-len="255">
            <div class="char-len c-green"></div>
          </div>
          <div class="form-group">
            <label for="text">
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="入力必須．1~255文字以内">
                サブタイトル*<script>document.write(get_question_img());</script>
              </span>
            </label>
            <textarea class="form-control input-subtitle auto-adjust-height" rows="3" id="input-create-room-subtitle" name="subtitle" placeholder="サブタイトル" data-max-len="255"></textarea>
            <div class="char-len c-green"></div>
          </div>
          {% include "form/img.html" with action="create-room" is_multi=True %}
          <div class="form-group">
            <label for="is_public">公開・非公開</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="input-create-room-public" name="is_public" checked>
              <label class="form-check-label" id="SwitchIsPublicLabel" for="input-create-room-public" name="is_public">公開</label>
            </div>
          </div>
          <div class="form-group">
            <label for="need_approval">Room参加時に承認が必要・不要</label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="input-create-room-approval" name="need_approval">
              <label class="form-check-label" id="SwitchNeedApprovalLabel" for="input-create-room-approval" name="need_approval">不要</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary btm-sm" id="submit-create-room-btn" data-url="{% url 'create-room'%}" type="submit">
            作成
          </button>
        </div>
      </form>
    </div>
  </div>
</div>