{% load static %} 
<div class="modal fade" id="modal-reply" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">返信</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="reply-form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="type">返信タイプ</label>
            <select class="select-reply-type" name="type"></select>
          </div>
          <div class="form-group">
            <label for="text">
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="入力必須．1~255文字以内">
                本文*<img src="{% static "images/black_question.svg" %}" class="question-img">
              </span>
            <textarea class="form-control input-reply-text" rows="3" name="text" placeholder="Text"></textarea>
          </div>
          <div class="form-group">
            <label for="source">
              <span data-bs-toggle="tooltip" data-bs-placement="right" title="255文字以内">
                ソース<img src="{% static "images/black_question.svg" %}" class="question-img">
              </span>
            </label>
            <input class="form-control" name="source" placeholder="https://xxxx.com">
          </div>
          {% include "form/img.html" with action="reply" is_multi=False %}
        </div>
        <div class="modal-footer">
          <button id="submit-reply-button" class="btn btn-secondary btm-sm">
            返信
          </button>
        </div>
      </form>
    </div>
  </div>
</div>