{% extends 'base.html' %}

{% block main %}
{% if do_pass_request_information %}
  {{request_information | json_script:'request_information'}}
  <script>
    var rris = JSON.parse(document.getElementById('request_information').textContent);
    var room_id = '{{room_id}}';
    show_room_request_information(rris, room_id);
  </script>
{% endif %}
<div class="left-sidebar sidebar">
  <nav class="nav flex-column nav-pills room-tab-title-list w-100">
    <a class="sidebar-button" type="button" role="pill" disabled>
      タブ一覧
    </a>
  </nav>
</div>
<div class="menu-wrapper pc-menu">
  <div class="hamburger-menu open" data-for="left-sidebar"><span></span><span></span><span></span></div>
</div>

<div class="content show-room-content">
  <div class="my-container">
    <div class="show-room-container">
      {{room_tags | json_script:'room_tags'}}
      <script>
        var tags = JSON.parse(document.getElementById('room_tags').textContent);
        document.write(get_tags(tags, 'room'));
      </script>
      {% block room_content %}
      {% endblock %}

      {% include "../snippets/search_post_in_room.html" %}
      
      <div class="post-list">
        {{dumps_object_list | json_script:'dumps_object_list'}}
        <script>
          var posts = JSON.parse(document.getElementById('dumps_object_list').textContent);
          create_post_items('.post-list', posts, true, false);
        </script>
      </div>
      {% include '../snippets/load_more.html' with type="post" %}
    </div>
  </div>
</div>

<div class="room-admin-sidebar right-sidebar sidebar">
  <div class="sidebar-item">
    {% if is_admin %}
    <a href="{% url 'manage-room' room_id %}" role="button" type="button" class="sidebar-button btn btn-secondary" value="">Roomの管理</a>
    {% elif is_blocked %}
      <a href="#" role="button" type="button" class="sidebar-button btn btn-secondary" value="" disabled>ブロックされています</a>
    {% elif is_room_user %}
      <a href="#" data-url="{% url 'leave-room' room_id %}" role="button" type="button" class="sidebar-button btn btn-secondary leave-room-confirm-button" value="">退出する</a>
    {% elif is_waiting %}
      <a href="#" role="button" type="button" class="sidebar-button btn btn-secondary" value="" disabled>許可待ち</a>
    {% else %}
      <a href="#" data-url="{% url 'join-room' room_id %}" role="button" type="button" class="join-room-button sidebar-button btn btn-secondary" value="">参加</a>
    {% endif %}
  </div>
  <div class="sidebar-item">
    <div class="room-personal-area c-white">
      <div class="room-personal"><script>document.write(get_web_img());</script><a href="{{web}}">{{web_domain}}</a></div>
      <div class="room-personal"><script>document.write(get_phone_img());</script><a href="tel:{{phone}}">{{phone}}</a></div>
      <div class="room-personal"><script>document.write(get_map_img());</script><a href="{{map}}">{{map}}</a></div>

      <div class="accordion" id="calender-accordion">
        <div class="accordion-item">
          <p class="accordion-header" id="calender-accordion-hearder1">
          <button class="accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#calender-accordion-collapse1" aria-expanded="false" aria-controls="calender-accordion-collapse1">
            <script>document.write(get_calender_img());</script>カレンダー
          </button>
          </p>
          <div id="calender-accordion-collapse1" class="accordion-collapse collapse" aria-labelledby="calender-accordion-hearder1" data-bs-parent="#calender-accordion">
            <div class="accordion-body c-black">
              <p class="m-0">月曜 {{mon_from}}~{{mon_to}}</p>
              <p class="m-0">火曜 {{tue_from}}~{{tue_to}}</p>
              <p class="m-0">水曜 {{wed_from}}~{{wed_to}}</p>
              <p class="m-0">木曜 {{thu_from}}~{{thu_to}}</p>
              <p class="m-0">金曜 {{fri_from}}~{{fri_to}}</p>
              <p class="m-0">土曜 {{sat_from}}~{{sat_to}}</p>
              <p class="m-0">日曜 {{sun_from}}~{{sun_to}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-item">
    {% if admin_img %}
        <div class="user-img-area">
            <img src="{{admin_img}}" alt="" class="user-img">
        </div>
    {% else %}    
        <div class="user-img-area">
            <script>document.write(get_human_img());</script>
        </div>
    {% endif %}
    <div class="username">
      <div class="headline">管理者</div>
      <a class="c-white show-modal-user-button" href="#" data-username="{{username}}">{{username}}</a>
    </div>
    <div class="user-profession">
      <div class="headline">職業</div>
      {{profession}}
    </div>
    <div class="user-description">
      <div class="headline">詳細</div>
      {{description | linebreaks}}
    </div>
  </div>
</div>
<div class="index-post-reply-sidebar right-sidebar sidebar not-display">
  <div class="sidebar-item">
    <div class="post-detail-link obj-link">
      投稿をクリックしたときに，その投稿の返信内容が表示されます
    </div>
  </div>
  <div class="sidebar-item">
    <div class="reply-list c-black"></div>
    {% include '../snippets/load_more.html' with type="reply" %}
  </div>
</div>
<div class="index-post-reply2-sidebar right-sidebar sidebar not-display">
  <div class="sidebar-item">
    <div class="reply-detail-link obj-link"></div>
  </div>
  <div class="sidebar-item">
    <div class="reply2-list c-black"></div>
    {% include '../snippets/load_more.html' with type="reply2" %}
  </div>
</div>
<div class="menu-wrapper border-left pc-menu">
  <div class="sidebar-menu open c-white" data-for="room-admin-sidebar">
    <script>document.write(get_human_img());</script>
  </div>
  <div class="sidebar-menu c-white" data-for="index-post-reply-sidebar">
    <script>document.write(get_post_img());</script>
  </div>
</div>
{% endblock %}