{% extends 'base.html' %} 
{% block main %}
<div class="content">
  <div class="container c-white">
    <h3>Error</h3>
    <h4>通信内容が管理者に送信されました．</h4>
    <button type="button" class="btn btn-secondary mb-2 mb-md-0" data-bs-toggle="tooltip" data-bs-placement="top" title="上に出るツールチップ">ツールチップ(上)</button>
  </div>
</div>

{% comment %} <div class="test">
  <div class="test-left-sidebar c-white">
    Left-Sidebar
  </div>
  
  <div class="test-content c-white">
    Main
  </div>
  
  <div class="test-right-sidebar c-white">
    Right-Sidebar
  </div>
</div> {% endcomment %}

{% endblock %}