{% extends 'base.html' %} 
{% block main %}
<div class="content">
  <div class="my-container">
    <div class="text-center c-white">
      <h1 class="fs-2">Whereabout - あなたのサイト</h1>
      <p class="fs-4">あなただけのサイトを作成し，居心地の良い空間にしましょう</p>
    </div>
    {% include "../snippets/search_room.html" %}

    <div class="room-list my-row">
      {{dumps_object_list | json_script:'dumps_object_list'}}
      <script>
        var rooms = JSON.parse(document.getElementById('dumps_object_list').textContent);
        create_room_items('.room-list', rooms);
      </script>
    </div>
    {% include 'snippets/load_more.html' with type="room" %}
  </div>
</div>

{% endblock %}
