{% extends 'base.html' %} 

{% block main %} 
<div class="content">
  <div class="my-container">
    <a href="/" class="btn btn-secondary" role="button">&lt;&lt;前へ戻る</a>
    <div class="my-row">
      <div class="my-col target-reply">
        <script>
          var replies = [{{dumps_reply | safe}}];
          create_reply_items('.target-reply', replies);
        </script>
      </div>
      <div class="my-col">
        {% include '../snippets/search_reply.html' with type="reply"%}
      </div>
      <div class="reply-detail-list reply-list my-row">
        <script>
          var replies = {{dumps_object_list | safe}};
          create_post_detail_items('.reply-detail-list', replies);
        </script>
      </div>
      {% include '../snippets/load_more.html' with type="reply-detail" %}
    </div>
  </div>
</div>

{% endblock %}
