{% extends 'base.html' %}

{% block main %}
{% load static %}
<div class="content index-post-content">
  <div class="my-container">
    <div class="login-area">
      <div class="title c-white">
        パスワードリセット
      </div>
      <form id="reset-password-send-mail-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="" class="c-white">ユーザー名</label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="" class="c-white">メールアドレス</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group right-button">
          <button class="btn btn-secondary" id="send-mail-for-reset-password-button" type="button">
            メール送信
          </button>
        </div>
      </form>
      <div class="text-center c-white">
        <p>新規登録の場合は<a href="/signup/">こちら</a></p>
        <p>ユーザー登録済みでログインの場合は<a href="/login/">こちら</a></p>
      </div>
    </div>
  </div>
</div>
 
{% endblock %}
