{% extends 'base.html' %}
 
{% block main %}
<div class="content">
  <div class="my-container">
    <div class="login-area">
      <div class="title c-white">
        ユーザー登録
      </div>
      <form id="signup-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="" class="c-white">
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="50文字以内">
              メールアドレス<img src="{% static "images/black_question.svg" %}" class="question-img">
            </span>
          </label>
          <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" readonly>
        </div>
        <div class="form-group">
          <label for="" class="c-white">
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="50文字以内">
              ユーザー名<img src="{% static "images/black_question.svg" %}" class="question-img">
            </span>
          </label>
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="" class="c-white">
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="8文字以上">
              パスワード<img src="{% static "images/black_question.svg" %}" class="question-img">
            </span>
          </label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="" class="c-white">パスワード確認</label>
          <input type="password" class="form-control" name="password_confirm" placeholder="Password">
        </div>
        <div class="form-group right-button">
          <button class="btn btn-secondary" id="signup-button" type="button">
            登録
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
 
{% endblock %}