<form id="search-{{type}}-form">
  <div class="accordion" id="search-accordion">
    <div class="accordion-item index-search">
      <p class="accordion-header" id="search-header1">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#search-collapse1"
          aria-expanded="true"
          aria-controls="search-collapse1"
        >
          【検索】
        </button>
      </p>
      <div
        id="search-collapse1"
        class="accordion-collapse collapse show"
        aria-labelledby="search-header1"
        data-bs-parent="#search-accordion"
      >
        <div class="accordion-body">
          {% if type %}
            {% include "../snippets/search_"|add:type|add:".html" %}
          {% endif %}
          <div class="right-button">
            <button
              type="button"
              class="input-clear-btn btn btn-outline-secondary"
            >
              クリア
            </button>
            <button
              type="button"
              class="btn btn-secondary search-{{type}}-button"
            >
              検索
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item index-search">
      <p class="accordion-header" id="order-header1">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#order-collapse1"
          aria-expanded="false"
          aria-controls="order-collapse1"
        >
          【並べ替え】
        </button>
      </p>
      <div
        id="order-collapse1"
        class="accordion-collapse collapse"
        aria-labelledby="order-header1"
        data-bs-parent="#search-accordion"
      >
        <div class="accordion-body">
          {% if type %}
            {% include "../snippets/order_"|add:type|add:".html" %}
          {% endif %}
          <div class="right-button">
            <button
              type="button"
              class="btn btn-secondary search-{{type}}-button"
            >
              並び替え
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
