{% load static %}
<!DOCTYPE html>
<html lang="ja">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
  {% block title %}
    {{TITLE}}
  {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/pages.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/slider.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
  <link rel="stylesheet" href="{% static 'css/room.css' %}">
  <link rel="stylesheet" href="{% static 'css/img.css' %}">
  <link rel="stylesheet" href="{% static 'css/luminous-basic.min.css' %}">
</head>

<body>
  <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bs-custom-file-input.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/luminous.min.js' %}"></script>
  <script>
    bsCustomFileInput.init();
    const BASE_URL = "{{MY_URL}}";
    var TabContents = [{{tab_contents | safe}}];
    var ShowContentIds = [TabContents[0] ? TabContents[0][0].id : ""];
    var TabContentItems = [{{tab_content1_items | safe}}];
    const whiteStarImg = "{% static "images/white_star.svg" %}";
    const yellowStarImg = "{% static "images/yellow_star.svg" %}";
    const deleteImg = "{% static "images/delete.svg" %}";
    const humanImg = "{% static "images/human.svg" %}";
    const trafficGreenImg = "{% static "images/traffic_green.svg" %}";
    const trafficYellowImg = "{% static "images/traffic_yellow.svg" %}";
    const trafficRedImg = "{% static "images/traffic_red.svg" %}";
    const houseImg = "{% static "images/house.svg" %}";
    const imageImg = "{% static "images/image.svg" %}";
    const titleImg = "{% static "images/title.png" %}";
    const textImg = "{% static "images/text.png" %}";
    const copyLinkImg = "{% static "images/copy_link.svg" %}";
    const goDetailImg = "{% static "images/go_detail.svg" %}";
    const questionImg = "{% static "images/black_question.svg" %}";
    const trashImg = "{% static "images/trash.svg" %}";
    const addImg = "{% static "images/add.svg" %}";
    const lockImg = "{% static "images/lock.svg" %}";
    const postImg = "{% static "images/post.svg" %}";
  </script>
  <script type="text/javascript" src="{% static 'js/const.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/function.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/template_function.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/tab.js' %}"></script>
  
  <div class="base-body">
    <div class="my-header">
      {% block header %}
      {% include 'snippets/header.html' %}
      {% endblock %}
    </div>
    
    <div class="my-main">
      {% include "modal/modal_post.html" with room=room_id %}
      {% include "modal/modal_reply.html" %}
      {% include "modal/modal_create_room.html" %}
      {% include "modal/modal_search_room.html" %}
      {% include "modal/modal_search_user.html" %}
      {% include "modal/modal_room.html" %}
      {% include "modal/modal_user.html" %}
      {% include "modal/modal_room_request_information.html" %}
      {% include "modal/modal_message.html" %}
      {% block main %}
      {% endblock %}
    </div>
  </div>
  
  <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/check.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pages.js' %}"></script>
</body>

</html>