.post-title {
    font-size: large;
    font-weight: bold;
}

.post-video-preview {
    max-width: 50%;
}

.footer-button {
    z-index: 10;
}

.post-img-preview-list {
    padding-top: 10px;
}

.index-post-reply-sidebar {
    flex:2;
}
.index-post-reply2-sidebar {
    flex:2;
}
.index-post-content {
    flex:3;
}

.post-content, .reply-content {
    padding: 0 5px;
}

.file-content {
    padding: 5px;
}
