.room-title {
    font-size: 35px;
    font-weight: bold;
}

.room-subtitle {
    font-size: 25px;
}
.room-item-title {
    font-size: 25px;
    text-align: center;
}

.room-item-title-font {
    font-size: 25px;
    font-weight: bold;
}

.room-item-subtitle {
    font-size: 20px;
    text-align: center;
}

.room-item-subtitle-font {
    font-size: 20px;
    font-weight: normal;
}

.not-display {
    display: none;
}

.active-filter-1 {
    display: none;
}
.active-filter-2 {
    display: none;
}
.active-filter-3 {
    display: none;
}
.active-filter-4 {
    display: none;
}
.active-filter-5 {
    display: none;
}
.active-filter-6 {
    display: none;
}
.active-filter-7 {
    display: none;
}
.active-filter-8 {
    display: none;
}
.active-filter-9 {
    display: none;
}
.active-filter-10 {
    display: none;
}
.active-filter-11 {
    display: none;
}

.manage-room-img-preview-list {
    display: flex;
    padding-top: 10px;
}

.manage-room-img-preview {
    cursor: grab;
    max-width: 15%;
    padding-right: 10px;
    padding-left: 10px;
}

.addable-object-area {
    width: 30%;
    border: 1px solid white;
    margin-right: 10px;
}

.addable-object { 
    z-index: 10;
    border: 2px solid grey;
    cursor: grab;
    background-color: white;
    height: 50px;
    width: auto;
}

.added-object {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    cursor: grab;
}

.added-object:not(.active) {
    background-color: aqua;
}

.added-object.active {
    background-color: #ffaf58;
}

.added-object-text, .added-object-title {
    /* box-sizing: border-box; */
    height: 100%;
    width: 100%;
}

.added-object-title, .tab-title-style {
    font-size: 25px;
}

.tab-title-style {
    border-left: solid 5px #ffaf58;
    padding-left: 5px;
    margin: 20px 0;
    color: #ffaf58;
}

.added-object-text, .tab-text-style {
    font-size: 17px;
}

.tab-text-style {
    padding-left: 5px;
    margin: 10px 0;
}

.tab-img-style {
    margin: 5px;
}

.trash-area {
    padding: 5px;
    background-color: white;
    width: 20%;
    text-align: center;
    border: 1px solid red;
    margin: 0 5px;
}

.droppable {
    min-height: 70px;
}

.break-word {
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-line;
}

.tab-title-content {
    /* display: flex;
    align-items: flex-end; */
    line-height: normal;
    letter-spacing: normal;
    padding: 10px 0;
}

.tab-text-content {
    font-size: large;
}

.room-tab-table-row {
    padding: 0;
    margin: 0;
    width: 100%;
}

.room-file-content {
    max-width: 600px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
}

.room-tab-table-col {
    margin: 0;
    padding: 0;
}

#room-tab-link {
    font-size: 25px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 10px;
}

#room-path {
    font-size: 20px;
}

.tab-pane {
    margin: 0;
    padding: 0;
}

/* .accordion-button.collapsed {
    background:rgb(143, 173, 159);
} */

.div-scroll {
    max-height: 200px;
    overflow: auto;
}

.table-scroll {
    overflow: auto;
    max-height: 300px;
}

.table-scroll th {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    /* border: 1px solid black; */
}

.table-scroll td {
    z-index: 1;
}

.room-tab-title {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.room-tab-title-font {
    font-size: 16px;
    margin: 0;
}

.input-room-tab-title {
    width: 90%;
    padding: 5px;
    margin: 0;
}

.manage-room-video-preview {
    width: 300px;
}

.room-video {
    width: 100%;
}

#room-video-area {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.manage-headline {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 30px;
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
    color: #ffaf58;
    width: auto;
}

label.form-check-label {
    padding-left: 10px;
}

.delete-tab-button {
    width: 50%;
    cursor: pointer;
    background-color: rgb(255, 147, 147);
    text-align: center;
    margin-bottom: 10px;
}

.manage-room-tab-content {
    display: flex;
    width: 100%;
}

.room-tab-content {
    width: 100%;
}

.tab-content {
    width: 100%;
}

.show-room-content {
    flex: 3;
}

.manage-room-content {
    flex: 4;
}

.manage-room-titles {
    flex: 1;
    margin-right: 10px;
}  

.flex-3 {
    flex: 3;
}

.participant-list {
    max-height: 500px;
    height: 100%;
    padding: 3px;
    overflow-y: auto;
}

.add-button {
    background-color: greenyellow;
    text-align: center;
    cursor: pointer;
}

.tab-operation-area {
    display: flex;
    max-height: 120px;
    background-color: rgb(26, 32, 35);
    padding: 10px;
    width: 100%;
    border: 2px dashed white;
    margin-bottom: 10px;
}

.manage-room-video-preview-list {
    padding-top: 10px;
}

.request-information-length {
    max-width: 3em;
}

/* .show-room-container {
    margin: 0 10px;
} */

.corner-circle {
    border-radius: 10px;
}

#room-tab-title-links-list {
    border: 2px dashed white;
    padding: 10px 20px;
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
}

.room-personal-area img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.room-personal {
    margin: 5px;
}

input.time-input {
    width: initial;
}

input#input-room-title, textarea#input-room-subtitle {
    max-width: 600px;
    width: 100%;
}
